@tailwind base;
@tailwind components;
@tailwind utilities;

@import '/node_modules/flowbite-vue/dist/index.css';


.fade-shuffle-enter-active,
.fade-shuffle-leave-active {
	transition: all 0.5s ease-out;
}

.fade-shuffle-enter-from,
.fade-shuffle-leave-to {
	opacity: 0;
  	transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.fade-shuffle-leave-active {
  position: absolute;
}