@tailwind base;
@tailwind components;
@tailwind utilities;

@import '/node_modules/flowbite-vue/dist/index.css';


.fade-shuffle-enter-active img,
.fade-shuffle-leave-active img {
	transition: all 0.4s ease-out;
}

.fade-shuffle-enter-from img,
.fade-shuffle-leave-to img {
	opacity: 0;
}

.fade-shuffle-leave-to img {
	transform: translateX(30px);
}

.fade-shuffle-enter-to img,
.fade-shuffle-leave-from img {
	opacity: 1;
}
